.post{
    padding: 20px;
    border-bottom:1px solid #e6ecf0;
}
.post__first{
    display: flex;
    align-items: center;
}
.post__first__img{
    width: 50px;
    height: 50px;
    overflow:hidden;
    border-radius: 50%;
}
.post__first__img img{
    width: 100%;
    height: 100%;
}
.post__first__name{
    margin-left: 6px;
    
}
.post__first__username{
    margin-left: 6px;
    color: rgb(0,147,217)
}
.post__details{
    margin: 8px 20px; 
    overflow: hidden;
}
.post__details__img{
    width: 100%;
}
.post__details__img img{
    width: 100%;
    margin-top: 6px;
}
.reaction{
    align-items: center;
    display: flex  ;
    margin: 8px 0;
    /* justify-content: space-between; */
    justify-content: space-evenly;
color: rgb(0,147,217);
}